<form action="{% url 'index' %}" method="get">
    {% csrf_token %}
    <div class="d-flex flex-column flex-md-row gap-3 align-items-center">
         <div class="mb-3">
            <label for="start_date" class="form-label">Дата заїзду</label>
            <input  required name="start_date" value="{{ start_date }}" type="datetime-local" class="form-control" id="start_date">
        </div>
         <div class="mb-3">
            <label for="end_date" class="form-label">Дата виїзду</label>
            <input  required name="end_date"  value="{{ end_date }}" type="datetime-local" class="form-control" id="end_date">
        </div>
         <div class="mb-3">
            <label for="quantity" class="form-label">Кількість осіб:</label>
            <input  name="quantity" value="{{ quantity }}" type="number" min="1" max="12" class="form-control" id="quantity">
        </div>
        <div class="mb-3">
             <label class="form-label">Ціна:</label>
            <div class="d-flex gap-3">
                <input  name="price_from" value="{{ price_from }}" placeholder="від" type="number" min="1" class="form-control">
                <input  name="price_to" value="{{ price_to }}" placeholder="до" type="number" min="1"  class="form-control" >
            </div>

        </div>
        <button type="submit" class="btn btn-outline-light mt-0 mt-md-3" >Пошук</button>
    </div>

</form>